/* NavBar */
.NavBar {
  padding: 30px 30px 30px 30px;
  float: right;
}

/* TitleBar */
.TitleBar {
  float: left;
  text-align: left;
}

.TitleBar h1 {
  color: pink;
}

/* RegForm */
.RegForm {
  text-align: center;
  clear: both;
}

/* logIn */
.logIn {
  clear: both;
  text-align: center;
}

/* LogInLanding */
.LogInLanding {
  clear: both;
  text-align: center;
}

/* MainPageContainer */
.MainPageContainer {
  clear: both;
  width: 100%;
}


/* SideBar */
.SideBar {
  float: left;
  text-align: center;
  background-color: rgba(255,105,180, 0.5);
  width: 15%;
  height: 800px;
  padding: 10px 10px 10px 10px;
}

/* MainSection */
.MainSection {
  margin-left: 5px;
  float: right;
  text-align: center;
  background-color: rgba(255,105,180, 0.5);
  height: 800px;
  width: 80%;
  padding: 10px 10px 10px 10px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
