/* Globals */

header {
  position: fixed;
}

footer {
  position: fixed;
  bottom: 20px;
}

body {

}

a {
  text-decoration: none;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
