/* Media Queries */

/* max-width:280px */
@media screen and (max-width:280px) {
	.suggestions {
    width: 200px;
		height: auto;
    float: left;
		clear: both;
  }
}

/* max-width:426px */
@media screen and (max-width:426px) {
	.suggestions {
    width: 75%;
		height: 500px;
    float: left;
		clear: both;
  }

  .TitleBar {
    width: 100%;
    text-align: center;
    margin-top: -30px;
  }
  .NavBar {
    width: 100%;
    text-align: left;
    margin-top: -50px;
  }
  .checkingOut .searchpic {
    width: 200px;
    height: 200px;
  }
  .chatNotifications {
    width: 10%;
  }
  .chatMainSection {
    margin-top: 10px;
    float: left;
    width: 100%;
  }
}

/* max-width:586px */
@media screen and (max-width:586px) {
  .UpdateForm {
    margin: 0px 0px 0px 0px;
    width: 95%;
    float: none;
    text-align: center;
  }

	.suggestions {
    width: 75%;
		height: 500px;
    float: left;
		clear: both;
  }

  .UpdateForm table {
    text-align: left;
  }

  .FormFeedback {
    margin: 10px 0px 0px 0px;
    width: 95%;
    float: none;
  }
  .FormFeedback h2 {
    text-align: center;
  }
}

/* max-width:600px */
@media screen and (max-width:600px) {
  .suggestions {
    width: 100%;
  }
}

/* max-width:730px */
@media screen and (max-width:730px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  .checkingOut .rightDiv {
    width: 100%;
    clear: both;
    float: left;
  }
}

/* max-width:780px */
@media screen and (max-width:780px) {
	.MainSection {
		overflow-y: none;
	}

  .suggestions {
    width: 90%;
    clear: both;
		float: left;
  }
  .chatMainSection {
    margin-top: 10px;
    width: 100%;
    float: left;
  }
  .msgBoxSent {
    width: 75%;
  }
  .msgBoxReceived {
    width: 75%;
  }
  .chatNotifications {
    width: 100%;
  }
}

/* max-width:920px */
@media screen and (max-width:920px) {
  .SideBar {
    clear: both;
    margin: 0px 0px 0px 10px;
    width: 95%;
    height: 25%;
    float: none;
  }
  .MainSection {
    clear: both;
    margin: 10px 0px 0px 10px;
    width: 95%;
    float: none;
  }
  .chatMainSection {
    width: 75%;
  }
}

/* max-width:1300px */
@media screen and (max-width:1300px) {
  .suggestions img {
    width: 180px;
    height: 180px;
  }
}

/* max-width:1528px */
@media screen and (max-width:1528px) {
  .checkingOut .rightDiv {
    width: 50%;
		clear: both;
  }

	.suggestions {
		width: 25%;
		height: 500px;
		float: left;
	}
	.userInfo{
		float: none;
	}
	.userImage{
		float: none;
	}
}

/* max-width:1600px */
@media screen and (max-width:1600px) {
  .suggestions {
    width: 25%;
		height: 500px;
		float: left;
  }
	.userInfo{
		float: none;
	}
	.userImage{
		float: none;
	}
}

/* max-width:1700px */
@media screen and (min-width:3400px) {
  .suggestions {
    width: 25%;
		height: 500px;
		float: left;
  }
	.userInfo{
		float: none;
	}
	.userImage{
		float: none;
	}
}

/**********************************
*  0px 0px 0px 0px;
*  float: none;
*  width: 95%;
*  @media screen and (max-width:px)
*
***********************************/
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
