/* CLASSES */
  /* NavBar */
  .NavBar {
    padding: 30px 30px 30px 30px;
    float: right;
    font-size: 23px;
  }
  .NavBar a {
    margin: 10px 10px 10px 10px;
  }

  /* TitleBar */
  .TitleBar {
    float: left;
    text-align: left;
  }
  .TitleBar h1 {
    color: pink;
  }

  /* RegForm */
  .RegForm {
    text-align: center;
    clear: both;
    padding-bottom: 20px;
  }

  /* logIn */
  .logIn {
    clear: both;
    text-align: center;
  }

  /* LogInLanding */
  .LogInLanding {
    clear: both;
    text-align: center;
  }

  /* MainPageContainer */
  .MainPageContainer {
    clear: both;
    width: 100%;
  }

  /* SideBar */
  .SideBar {
    float: left;
    background-color: rgba(255,105,180, 0.5);
    width: 15%;
    height: 800px;
    padding: 10px 10px 10px 10px;
  }
  .SideBar h3,h4{
    text-align: center;
  }
  .SideBar p {
    text-align: center;
  }

  /* MainSection */
  .MainSection {
    margin-left: 5px;
    float: right;
    background-color: rgba(255,105,180, 0.5);
    height: 800px;
    width: 80%;
    padding: 10px 10px 10px 10px;
		overflow-y: scroll;
  }
  .MainSection h2 {
    text-align: center;
  }

  /* Profile */
  .profile {
    width: 100%;
    clear: both;
  }

  /* UpdateForm */
  .UpdateForm {
    float: left;
    width: 30%;
    background-color: rgba(255,105,180, 0.5);
    padding: 10px 10px 10px 10px;
  }
  .UpdateForm h2 {
    text-align: center;
  }

  /* FormFeedback */
  .FormFeedback {
    float: right;
    width: 60%;
    background-color: rgba(255,105,180, 0.5);
    padding: 10px 10px 10px 10px;
  }
  .FormFeedback h2 {
    text-align: center;
  }
  .FormFeedback a {
    font-size: 18px;
  }

  /* passwd */
  .passwd a {
    color: pink;
    text-decoration: underline;
    font-size: 23px;
  }

  /* box */
  .box {
    display: table-cell;
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  /* container */
  .container {
    clear: both;
    background-color: rgba(255,105,180, 0.7);
  }

  /* searchTable */
  .searchTable {
    clear: both;
    text-align: center;
    width: 100%;
  }
  .searchTable table {
    border: 0px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255,105,180, 0.7);
  }

  /* form */
  .form {
    clear: both;
    width: 90%;
    text-align: center;
  }

  /* profilePic */
  .profilePic {
    padding-top: 20px;
    clear: both;
    width: 90%;
    text-align: center;
  }

  /* submitButton */
  .buttonDiv {
    text-align: center;
  }
  /* resultsList */
  .resultsList li {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* profilePicGallery */
  .profilePicGallery {
    clear: both;
    margin: 10px 10px 10px 10px;
  }
  .profilePicGallery img {
    margin: 10px 10px 10px 10px;
  }

  /* deleteAccount */
  .deleteAccount {
    clear: both;
    text-align: center;
  }
  .deleteAccount a {
    font-size: 30px;
    text-decoration: underline;
    margin: 20px 20px 20px 20px;
  }

  /* picResults */
  .picResults {
    float: left;
    width: 320px;
    background-color: rgba(255,105,180, 0.7);
    margin: 20px 20px 20px 20px;
    border: 2px solid black;
  }
  .picResults a {
    text-decoration: none;
  }
  .picResults img {
    width: 300px;
    height: 300px;
  }

  /* suggestions */
  .suggestions {
		/* clear: both; */
		width: 50%;
		height: 250px;
		float: left;
		background-color: rgba(255,105,180, 0.9);
  }
  .suggestions img {
    width: 250px;
    height: 250px;
  }

	/* userInfo */
	.userInfo{
		width: 65%;
		float: right;
		/* word-wrap: break-word; */
		/* float: none; */
	}

	/* userImage */
	.userImage{
		width: 30%;
		/* padding: 10px,10px,10px,10px; */
		float: left;
	}

  /* profiles */
  .profiles {
    background-color: rgba(255,105,180, 0.7);
  }

  /* checkingOut */
  .checkingOut {
    clear: both;
    width: 100%;
    padding-bottom: 550px;
    background-color: rgba(255,105,180, 0.9);
  }
  .checkingOut h2 {
    padding: 20px 10px 0px 20px;
  }
  .checkingOut .leftDiv {
    width: 20%;
    float: left;
  }
  .checkingOut .rightDiv {
    width: 75%;
    float: right;
  }

  /* chatContainer */
  .chatContainer {
    clear: both;
    width: 100%;
  }

  /* chatNotifications */
  .chatNotifications {
    float: left;
    width: 19%;
    border: 1px solid black;
    background-color: rgba(255,105,180, 0.7);
  }

  /* chatMainSection */
  .chatMainSection {
    padding: 10px 10px 10px 10px;
    float: right;
    width: 78%;
    height: 650px;
    overflow-x: auto;
    border: 1px solid black;
    background-color: rgba(255,105,180, 0.7);
  }

  /* chatContainer */
  .chatContainer h2 {
    text-align: center;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* ajaxDiv */
  .ajaxDiv{
    clear: both;
    width: 100%;
  }
  .ajaxDiv form {
    float: left;
    width: 20%;
  }
  .ajaxDiv #txtHint {
    float: right;
    width: 80%;
  }

  /* msgBoxReceived */
  .msgBoxReceived {
    margin-left: 50px;
    padding: 5px 5px 5px 5px;
    width: 20%;
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
  }

  /* msgBoxSent */
  .msgBoxSent {
    padding: 5px 5px 5px 5px;
    width: 20%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
  }

  /* replyBox */
  .replyBox {
    border-radius: 5px;
    margin-bottom: 10px;
  }

  /* searchpic */
  .searchpic {
    padding-left: 10px;
    width: 300px;
    height: 300px;
  }

  /* inputButton */
  .inputButton {
    background-color: Red;
    line-height: 20px;
    border-radius: 5px;
    width: 65px;
  }
	/*  */
  /*  */


/* ID's */
  /* location-form */
  #location-form {
    text-align: center;
  }

  /* text-center */
  #text-center {
    text-align: center;
  }

  /* map */
  #map {
    height: 980px;
    width: 100%;
  }

  /* myRange */
  #myRange {
    width: 90%;
  }

  #image {
    width: 90%;
    text-align: center;
  }
  /*  */
  /*  */
  /*  */
  /*  */
